body {
	background-color: #012B44;
	font-family: arial;
	margin:0 auto;
	text-align:center;
}

img, video, object { max-width:100%; }

.verticalLine {
   margin-left: 100px;
   border-right: 1px solid gray;
}
.cuerpo{
	background-color: gray;
}
.color{
	float: none;
	background-color: #012B44;
	height: 53px;
	padding-top: 3px;
	max-width: 100%;
	padding-bottom: none;
}
.colornuevo{
	background-color: #707271;
}
.div{
	background-color: #7D7D7D;
	margin: 12px;
}

.sombra {
  box-shadow: 1px 2px 2px 1px black;
}
.sombra2{
	box-shadow: 2px 2.5px 15px 1px #383838;
}

.image {
	max-width: 100%;
	min-width: 50%;
	margin: none;
	float: none;
}

.txt{
	color: white;
}
.txt.izq{
	font-size: 15px;
	text-align: left;
	margin-left: 3px;
}
p {
	color: white;
	float: none;
	font-size: 20px;
}
.pe{
color: white;
font-size: 16px;
float: left;
margin-left: 15px;
}
.pe-der{
	color: gray;
	font-size: 16px;
	float: right;
	margin-right: 10px;
	padding-top: 12px;
}
section {
	float: none;
}

span.espacio{
	padding-left: 110px;
	color: black;
}
.sec{
	float: left;
	margin-right: 200px;
	border: solid blue;
	background-color: lightgray;
	padding-bottom: -300px;
}
.nav{
	margin-top: 5px;
	margin-right: 1150px;
	padding-top: 5px;
	padding-bottom: 335px;
	background-color: gray;
	padding-left: 15px;
}

.txt-izq {
	text-align: left;
	margin-left: 0px;
	padding-left: 0px
}

.derecha{
	text-align: center;
	margin-left: 800px;
	padding-bottom: 60px;
	margin-right: 50px;
	border: solid gray;
	background-color: gray;
}
.izquierda{
	float: left;
	margin-left: 130px;
	padding-top: -400px;
}
.centrar {
	padding: none;
}

.image2 {
	margin-top: 25px;
	max-width: 100%;
	height: 10%;
}
.letras{
	font-size: 50px;
	font-family: arial;
}
.imagen-ico{
	margin-top: -120px;
}

li {
	margin-left: -50px;
   padding: 15px;

}

.a{
	text-decoration: none;
	font-size: 20px;
	color: lightgray;
}
button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
} 
 
button:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

button.b2{
	padding: 5px;
}

footer {
	background-color: black;
}

.espacio {
	padding: 10px;
}
.espacio.top{
	margin-top: 35px;
}
.parrafo {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

input {
	height: 23px;
}
input.top{
	padding-top: 15px;
}
.ta{
	border: none;
	margin-bottom: 1px;
	width: 100%;
}
.b {
	width: 350px;
	text-align: right;
}

.tamano {
	float: center;
	width: 350px;
}
.tamano2 {
	width: 100px;
	margin-right: 10px;
}



select {
	width: 350px;
	height: 30px;
}

h1{
	color: white;
}

img .i{
	margin: left;
}
.im{
	float: left;
	margin-left: 10px;
	padding-right: 10px;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

header .h{
	padding-top: none;
}
.pr{
	border: solid red;
}

.tamano3 {
	border: none;
	width: 99.7%;
	padding-bottom: 200px;
}

.posicion {
	float: center;
	text-align: center;
}
.derecha2{
	border: solid gray;
	background-color: lightgray;
}
.floatright {
	margin-top: -535px;
	float: center;
	padding-top: 10px;
	padding-bottom: 60px;
	margin-right: 70px;
	margin-left: 270px;
	padding-bottom: 350px;
}
.floatleft{
	margin-top: -40px;
	float: right;
	margin-right: 4px;
}
.padding{
	padding-right: 14px;
}
.imgcenter{
	float: right;
	width: 320px;
}
.check{
	float: left;
	margin-top: 25px;
	margin-right: 10px;
}

.nave{
	margin: 0px;
	text-align: left;
	background-color: lightgray;
	float: none;
	height: 30px;
}

.hoy{
	text-align: left;
	font-size: 12px;
}

.anchos{
	height: 60px
}
.pr2{
	margin-bottom: 1px;
	padding-bottom: 10px;
	background-color: lightgray;
}

.borde{
	border-bottom: solid lightgray;
}
.linea{
	float: right;
	padding-top: 5px;
}
.paddingr{
	margin-right: 3px;
}

.salto {
	padding-top: 11px;
   padding-bottom: 1px;
}
.verticalLine3 {
   float: center;
  border-right: 20px;
}
b{
	font-size: 13px;
	color: gray;
	margin-top: 5px;
}

.imagenConPieDeTexto:hover {
      background-color: #4C565E;
   }

.seleccionado{
	background-color: #4C565E;
}

.dere{
	float: right;
	margin-top: -52px;
	margin-right: 3px;
}
.le{
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.5px;
}

.dere2{
	float: right;
	margin-right: 2px;
}
.avatar.small {
    font-size: 16px;
}

.foot{
	margin-top: 100px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.tanimg{
	float: none;
	max-width: 47%;
	margin: 40px;
	}

.tanimg2{
	float: none;
	max-width: 25%;
	margin: 40px
}

.logo{
	max-width: 15%;
	margin-right: 20px;
}
.colfondo{
	background-color: #040F1C;
}

.letra{
	padding-top: 50px;
	font-family: arial;
	font-size: 20px;
	color: white;
}

.cabecera{
	padding: 0;
	text-align: left;
	padding-left: 10px;
}

.col{
	background-color: #106A7F;
}

.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 120%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.popup_content {
			display: none;
			position: absolute;
			top: 20%;
			left: 12%;
			width: 75%;
			height: 64%;
			padding: 0px;
			background-color: gray;
			z-index:1002;
			overflow: auto;
		}

.bandeja{
	margin-top: -450px;
	margin-right: 220px;
	float: right;
	font-size: 15px;
	text-align: center;
}
.header{
	margin-top: 1px;
	background-color: #012B44;
	height: 35px;
	text-align: left;
	margin-top: -20px;
}
.header.he{
	height: 50px;
	background-color: transparent;
	padding-top: 10px;
}

.colorazo{
	background-color: white;
	margin-top: 1px;
	padding-top: 6px;
}

